<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:each="user : ${response.results}">
        <h1>Your user:</h1>
        <img th:src="${user.picture.large}" th:alt="${user.name.first} + ' ' + ${user.name.last}">
        <h3>Name</h3>
        <p th:text="${user.name.first} + ' ' + ${user.name.last}" />
        <h3>Gender</h3>
        <p th:text="${user.gender}"/>
        <h3>Date of Birth</h3>
        <p th:text="${user.dob.date}"></p>
    </div>
</body>
</html>